^ContentPage {
    background-color: #33333c;
    background-image: Background.png;
}

.h1 {
    /*font-family: "Century Gothic", CenturyGothic, Futura, Futura-Medium, AppleGothic, sans-serif;*/
    font-family: Futura-Medium;
    font-weight: 900;
    font-size: 22;
    color: white;
}

.striped {
    background-image: Background.png;
}

.frame {
    margin: 20;
    background-color: transparent;
    border-width: 20;
}

.content {
    background-color: white;
}

.border-box {
    background-color: #33333c;
}

/* dark pink diagonal stripe #e0288d */
/* light pink diagonal stripe #e43f96 */